html{
    background-color: green;
    min-height: 400px;
}

h1{
    color: white;
}

h2{
    color: whitesmoke;
}

footer span{
    color: white;
}

table tr td{
background-color: lightgreen;
padding: 10px;
border: 1px solid black;
color: green;
font-weight: bold;
}